<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>part_list</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- MainForm -->
<div id="MainForm">
    <div class="form_boxA">
        <h2>
            事务列表
            <div class="h2_btn">
                <button type="button" class="btn btn-info btn-sm" onclick="btn_refresh()">刷新页面</button>
            </div>
        </h2>
        <table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <th>序号</th>
                <th>事务编号</th>
                <th>零件编号</th>
                <th>零件名称</th>
                <th>事务类型</th>
                <th>出库/入库零件数量</th>
                <th>事务提交时间</th>
            </tr>
            {% for index, ls in affair_ls %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ '%08d' % ls.affair_id }}</td>
                    <td>{{ '%08d' % ls.part_id }}</td>
                    <td>{{ ls.part_name }}</td>
                    <td>{{ '入库' if ls.affair_type else '出库' }}</td>
                    <td>{{ ls.affair_num }}</td>
                    <td>{{ ls.affair_time }}</td>
                </tr>
            {% endfor %}
        </table>
        <p class="msg">共找到{{ paginate.total }}条匹配记录</p>
    </div>

    <ul id="PageNum">

        <li><a href="/home/affair_list?page=1">首页</a></li>
        {% if paginate.has_prev %}
            <li><a href="/home/affair_list?page={{ paginate.prev_num }}">上一页</a></li>
        {% endif %}

        {% for p  in paginate.iter_pages() %}
            <li>
                {% if p %}
                    {% if p != paginate.page %}
                        <a href="/home/affair_list?page={{ p }}">{{ p }}</a>
                    {% else %}
                        <span> {{ p }} </span>
                    {% endif %}
                {% else %}
                    <span>...</span>
                {% endif %}
            </li>
        {% endfor %}

        {% if paginate.has_next %}
            <li><a href="/home/affair_list?page={{ paginate.next_num }}">下一页</a></li>
        {% endif %}
        <li><a href="/home/affair_list?page={{ paginate.pages }}">尾页</a></li>
        <span>| 共{{ paginate.pages }}页 | 当前第{{ paginate.page }}页</span>
    </ul>

</div>

</body>
<script>
    function btn_refresh() {
        window.location.reload();
    }
</script>
</html>