<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_password</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link href="/static/css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="MainForm">
    <div class="form_boxA">
        <h2>修改密码</h2>
        <div class="change_operation">
            <div class="form-group password_original_div">
                <label for="password_original_input">原密码</label>
                <input type="password" class="form-control" id="password_original_input" placeholder="请输入原密码"
                       autocomplete="off">
            </div>
            <div class="form-group password_original_div">
                <label for="password_new_input">新密码</label>
                <input type="password" class="form-control" id="password_new_input" placeholder="请输入新密码" autocomplete="off">
            </div>
            <div class="form-group password_original_div">
                <label for="password_con_input">确认新密码</label>
                <input type="password" class="form-control" id="password_con_input" placeholder="请确认新密码" autocomplete="off">
            </div>

            <button type="button" class="btn btn-primary change_submit_button" onclick="change_submit()">修改密码</button>
        </div>
    </div>
</div>
</body>
<script>
    function change_submit() {
        {#获取数据#}
        let ori_password = $("#password_original_input").val();
        let new_password = $("#password_new_input").val();
        let con_password = $("#password_con_input").val();

        if (new_password.length < 6 || new_password.length > 16) {
            alert("密码在6-16位之间");
        } else if (new_password != con_password) {
            alert("新密码两次输入不一致");
        } else {
            let data = {
                'ori_password': ori_password,
                'new_password': new_password,
                'con_password': con_password
            };

            $.ajax({
                type: "POST",
                url: "{{ url_for('home.change_submit') }}",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    if (result == '1') {
                        alert('密码修改成功');
                        window.location.reload();
                    } else {
                        alert(result);
                    }
                }
            });
        }
    }
</script>
</html>