<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="head_bg">
    <div class="head_logo">
        <span class="home_headline" aria-describedby="basic-addon3">订货管理系统</span>
    </div>
    <div class="head_msg">
{#        <span style="color:#FFF">欢迎：{{ user }}</span> <a href="/home/loginout" rel="external">【退出】</a>#}
        <span style="color:#FFF">欢迎：{{ user }}</span>
    </div>
</div>
</body>
</html>