<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订货系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<frameset rows="60,*" cols="*" scrolling="No" framespacing="0" frameborder="no" border="0">
    <!-- 引用头部 -->
    <frame src="/home/head" name="headmenu" id="mainFrame" title="mainFrame" class="main_head">
    <!-- 引用头部end -->
    <!-- 引用左边和主体部分 -->
    <frameset rows="*" cols="220,*" scrolling="No" framespacing="0" frameborder="no" border="0">
        <frame src="/home/left" name="leftmenu" id="mainFrame" title="mainFrame">
        <frame src="/home/part_list" name="main" scrolling="yes" noresize="noresize" id="rightFrame" title="rightFrame">
    </frameset>
    <!-- 引用左边和主体部分end -->
</frameset>
</html>